.item p{
    margin: 6px;
}
.item-prices{
    display: flex;
    gap: 20px;
}
.item-prices-new{
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}
.item-prices-old{
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}
.item:hover {
    transform: scale(1.1); 
    transition: transform 0.6s; 
}

/* Basic styling for the item container */
.item {
    width: 350px;
    height: 400px;
    position: relative;
    overflow: hidden;
    text-align: center; /* Center-align text inside the item */
}

/* Styling for the item image */
.item-image img {
    width: 100%; /* Make sure the image takes up the full width of its container */
    height: 100%; /* Adjust the height to occupy 80% of the item container's height */
    object-fit: cover; /* Ensure the image covers the container while maintaining its aspect ratio */
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 10px; /* Optional: for rounded corners */
}

/* Styling for when the image is enlarged */
.item-image.enlarged {
    transform: scale(1.5); /* Enlarge the image by 1.5 times */
    z-index: 10;
    position: relative;
}
.item-price-old {
    text-decoration: line-through; /* Adds the strike-through effect */
    color: gray; /* Optional: Change the color of the old price */
    margin-left: 10px; /* Optional: Add some spacing */
  }